.places {
  margin-left: 100px;
  max-width: 984px;
}

@media screen and (max-width: 1170px) {
  .places {
    max-width: calc(100% - 96px);
    margin: auto;
   }
}

@media screen and (max-width: 900px) {
  .places {
    max-width: calc(100% - 48px);
 }
}

@media screen and (max-width: 720px) {
  .places {
    min-width: 100%;
  }
}

