.header {
  max-width: 100%;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1170px) {
  .header {
    max-width: calc(100% - 96px);
    padding-bottom: 48px;
   }
}

@media screen and (max-width: 900px) {
  .header {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 720px) {
  .header  {
    max-width: calc(100% - 32px);
  }
}
