.content {
  display: grid;
  grid-row-gap: 92px;
  width: 100%;
}

@media screen and (max-width: 900px)
 {
  .content {
    grid-row-gap: 88px;
  }
}

@media screen and (max-width: 720px)
 {
  .content {
    grid-row-gap: 64px;
  }
}
