.header__link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0 18px 0 0;
}

.header__link:first-child{
  text-decoration: underline;
}

.header__link:last-child {
  margin: 0;
}
