.header__link {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0 18px 0 0;
}

.header__link:last-child {
  margin: 0;
}

.header__link:hover {
  opacity: .8;
}

@media screen and (max-width: 720px) {
  .header__link {
    font-size: 18px;
    line-height: 1.11;
  }
}
