.footer__copyright {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 760px) {
  .footer__copyright {
    text-align: left;
    line-height: 1;
  }
}
