.intro__text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  color: #FFFFFF;
  margin: 0 0 33px;
}

@media screen and (max-width: 760px)
{
  .intro__text {
    min-width: 288px;
  }
}
