.intro {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
}

@media screen and (max-width: 1170px) {
  .intro {
    margin-left: 48px;
   }
}

@media screen and (max-width: 900px) {
  .intro {
    max-width: 720px;
    margin: 0 auto;
  }
 }

@media screen and (max-width: 720px) {
  .intro {
    width: calc(100% - 32px);
  }
}
