.lead__subtitle {
  max-width: 640px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 32px auto 64px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
     margin: 32px auto 56px;
   }
}

@media screen and (max-width: 760px)
{
  .lead__subtitle  {
    font-size: 16px;
    line-height: 1.25;
    margin: 16px auto 40px;
  }
}

