.place {
  max-width: 100%;
  display: grid;
  grid-template-columns: 460px 1fr;
  row-gap: 40px;
  column-gap: 48px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1170px) {
  .place {
    row-gap: 32px;
    grid-template-columns: 440px 1fr;
   }
}

@media screen and (max-width: 900px) {
  .place {
    row-gap: 48px;
    margin-bottom: 73px;
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 720px) {
  .place {
     grid-template-columns: repeat(1, auto);
     min-width: 320px;
     margin-bottom: 50px;
     row-gap: 32px;
  }
}
