.footer {
  max-width: 100%;
  margin: 92px auto 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1170px) {
  .footer {
    margin: 92px 48px 0 48px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 0 24px;
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
    padding: 0 0 0 16px;
    margin-top: 64px;
  }
}
